@charset "UTF-8";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.state-unavailable,
.state-away {
    border-left: 12px solid rgba(0, 0, 0, 0.1);
    cursor: default;
}

.state-available {
    border-left: 12px solid rgba(77, 182, 148, 0.6);
}

.state-busy {
    border-left: 12px solid rgba(255, 0, 0, 0.6);
}

.notification-list {
    margin: 0;
}

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.avatar {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
}

.messages {
    max-height: 500px;
    overflow: auto;
}

.messages .local {
    background: rgb(254, 254, 254);
}

.messages .remote {
    background: rgb(206, 214, 221);
}

.messages .collection-item > p {
    clear: both;
}

.disable form.message-form,
.disable .startChat,
.disable .startCall {
    display: none;
}

#account-example > li {
    cursor: pointer;
}

.time-relative {
    font-size: 0.7em;
    color: rgb(121, 121, 121);
}
