<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Smart businesss app</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/style.css">

</head>
<body class="cyan">
<div class="container">
   <div class="col" style="text-align: center;" >
       <div class="col  z-depth card-panel" style="text-align: center;">
        <div class="row">
            <div class="col m12">
                <h3 class="center-align">Smart Business App</h3>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <h4>About this demo</h4>
                <p>This application provide some communication tools using the rethink framework...
                    <br />(for demonstration purpose only)</p>  
            </div>
        </div>
       

        <p>Login or Register with Enterorise ID:</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <p>Or</p>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <p>If you can't Signup log as Visitor</p>
        <a href="/visitor" class="btn btn-default"><span class="fa fa-user"></span> Visitor</a>
    </div>

</div>
</body>
</html>