<!-- views/profile.ejs -->
<!--<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <! LOCAL INFORMATION -->
        <!--<div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>-->
<!DOCTYPE html>
<html>

<head>
    <title>Smart business app</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <section id="loading" class="container">
        <div class="row">
            <div class="col m12">
                <h3 class="center-align">Smart Business App</h3>
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <h4>About this demo</h4>
                <p>This application provide some communication tools using the rethink framework...
                    <br />(for demonstration purpose only)</p>
                <p>Demo account :</p>
                <ul id="account-example">
                    <li><span class="account-mail">openidtest10@gmail.com</span> / <span class="account-pwd">testOpenID10</span></li>
                    <li><span class="account-mail">openidtest20@gmail.com</span> / <span class="account-pwd">testOpenID20</span></li>
                </ul>
            </div>
            
      
            <div class="col m6">
                <h4 class="center-align">Login</h4>
                <div class="row">
                    <form id="login" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pass" name="pass" type="password" class="validate" required>
                                <label for="pass">Password</label>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col m12">
                                <p class="right-align">
                                    <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Login</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section id="app" class="hide page-flexbox-wrapper">
        <header class="navbar-fixed">
            <ul id="user-status-toggler" class="dropdown-content">
                <li><a href="#!" class="state-available" rel="available">Available</a></li>
                <li><a href="#!" class="state-busy" rel="busy">Busy</a></li>
                <li><a href="#!" class="state-away" rel="away">Away</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo left">Smart Business App</a>
                    <ul class="right">
                        <li>
                            <a href="#account" class="dropdown-button" data-activates="user-status-toggler">
                                <span id="currentUser">Current User</span>
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                        <li><a id="logout" href="#logout"><i class="material-icons">exit_to_app</i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Pop up Input Form -->
  
    <!--CONTAINER-->
    <div id="container">
        <div id='body'>   
            <div class="row" id="heading">        
                    <div class="col-sm-6">
                            <p style="text-align:center;">
                                <span style="font-family:Arial;font-size:24px;font-style:normal;text-decoration:none;text-transform:none;color:FFFFFF;">
                                    <u>
                                        <a class="waves-effect waves-light "><i class="mdi-file-cloud left"></i>Contacts</a>                                         
                                    </u>
                                </span>
                            </p>
                            <div align="left" id="left-div" style="overflow: hidden; width: 626px;height: 342px; border: 2px solid maroon">
                                   <table id='table1' class="table table-bordered">
                                        <thead>
                                            <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                            <td>
                                                <input id='firstName' class='form-control' type="text" />
                                            </td>
                                            <td>
                                                <input id='lastName' class='form-control' type="text" />
                                            </td>
                                            <td>
                                                <input id='phone' class='form-control' type="text" />
                                            </td>
                                            <td>
                                                <div class="text-center">
                                                <button id='add' class='btn btn-block' />Add</button>
                                                </div>
                                            </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                
                            </div>
                    </div>
                    <div class="col-sm-6">
                            <p style="text-align:center;">
                                <span style="font-family:Arial;font-size:24px;font-style:normal;text-decoration:none;text-transform:none;color:FFFFFF;">
                                    <u>
                                         <a class="waves-effect waves-light "><i class="mdi-file-cloud left"></i>Visitors</a>
                                    </u>
                                </span>
                            </p>
                            <div align="left" id="left-div" style="overflow: hidden; width: 626px;height: 342px; border: 2px solid maroon">
                            </div>
                    </div>
            </div>
        </div>
    </div>  


       

        <footer id="myFooter" class="page-footer" >                    
            <div class="row">
                <div class="col l6 s12">
                    <ul class="notification-list">
                        <li><a class="grey-text text-lighten-4" href="#!"> Notif 1 </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © Rethink 2016
                </div>
            </div>
        </footer>
         <style>
                #myFooter {
                    background-color: #a94442;
                    margin-top: auto;
                    padding-top: 20px;
                }
        </style>
    </section>
    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/materialize.min.js"></script>
    <script src="../js/vendor/handlebars.min.js"></script>
    <script src="../js/vendor/moment.min.js"></script>
       <!--<script src="index.js"></script>-->
    <script src="./dist/factories/rethink.js"></script>
    <script src="./dist/main.js"></script>
</body>

</html>

