<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>reTHINK Enterprise Conversational Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel='stylesheet prefetch' href='http://cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css'>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:300'>


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>

<body class="cyan">
    <header class="navbar-fixed">
        <nav style="bottom: 900px;top: -10;top: 0px;">
            <div class="nav-wrapper" style="text-align: center;">
                <a href="#" class="brand-logo center" style="text-align: center;"> Smart Business App</a>
            </div>
        </nav>
    </header>
<section id="login-enterprise" class="container">
    <div class="jumbotron text-center" style="text-align: center;" >
        <div class="row" style="text-align: center;">
            <div class="col m12" style="bottom: 900px;top: -10;top: 0px;">
                <h4>About this demo</h4>
                <p>This application provide some communication tools using the rethink framework...
                    <br />(for demonstration purpose only)</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6  card-panel" style=" margin-right: 100px; width: 371.75px;">
            <h3>Demo accounts :</h3>
            <ul id="account-example">
                    <li><span class="account-mail">User1@apizee.com</span> / <span class="account-pwd">pass1</span></li>
                    <li><span class="account-mail">User2@apizee.com</span> / <span class="account-pwd">pass2</span></li>
                    <li><span class="account-mail">User3@apizee.com</span> / <span class="account-pwd">pass3</span></li>
                    <li><span class="account-mail">jtestapizee@gmail.com</span> / <span class="account-pwd">jtestapizee2017</span></li>
            </ul>
        </div>
    <div  class="col s12 z-depth-4 card-panel" style="width: 421.75px;">
        <h3 class="center-align">Signup</h3>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger" >
                <div class="card-content pink-text darken-1" style=" height: 90px;">
                    <div id="card-alert" class="card pink lighten-5" style="text-align: center;">
                        <div class="card-content pink-text darken-1" style="margin-top: 0px;padding-top: 0px;">
                            <span class="card-title pink-text darken-1   " style="padding-top: 10px;margin-top: 0px;"> Error Login !</span>
                                <p><%= message %></p>
                        </div>
                    </div>
                </div>
            </div>

        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup"  class="login-form"  method="post" style="padding-top: 50px;">
        <div class="row">
          <div class="input-field col s12 center">
              <img  src="../apizee3.jpg"alt="" class="circle responsive-img valign profile-image-login" style="width: 200px;">  
          </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="username" type="text">
                <label for="username" class="center-align">Username</label>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-communication-email prefix "></i>
                <input id="email" name="email" type="email" class="form-control" required>
                <label for="email" data-error="Please enter valid email.">Email</label>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input type="password" id="pass" name="password" class="form-control" required>
                <label for="password">Password</label>
            </div>
        </div>
    
        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="password-again" type="password">
                <label for="password-again">Password again</label>
            </div>
        </div>
        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">SIGNUP Now
            <i class="mdi-content-send right"></i>
        </button>
        <div class="row">
            <div class="input-field col s12 center">
                <img  src="../rethink.png"alt="" class="
                circle responsive-img valign profile-image-login">  
            </div>
        </div>
        
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>
 </section>
 <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/materialize.min.js"></script>
    <script src="js/vendor/handlebars.min.js"></script>
    <script src="js/vendor/moment.min.js"></script>
     <!--<script src="index.js"></script>-->

    <!--<script src="./dist/factories/rethink.js"></script>-->
    <script src="./js/main.js"></script>
</body>

</div>
</body>
</html>